<div class="container">
    <button ejs-button
            class="bg-blue hover:bg-sky-700">Button</button>
    <button ejs-button
            class="fill"
            iconCss="e-btn-sb-icons e-add-icon">
        Button
    </button>
    <button ejs-button
            class="fill"
            iconCss="e-btn-sb-icons e-add-icon"
            iconPosition="right">
        Button
    </button>
</div>
<div class="container">
    <button ejs-button
            class="outline">Button</button>
    <button ejs-button
            class="outline"
            iconCss="e-btn-sb-icons e-add-icon">
        Button
    </button>
    <button ejs-button
            class="outline"
            iconCss="e-btn-sb-icons e-add-icon"
            iconPosition="right">
        Button
    </button>
</div>
<div class="container">
    <button ejs-button
            class="link">Button</button>
    <button ejs-button
            class="link"
            iconCss="e-btn-sb-icons e-add-icon">
        Button
    </button>
    <button ejs-button
            class="link"
            iconCss="e-btn-sb-icons e-add-icon"
            iconPosition="right">
        Button
    </button>
</div>
<div class="container">
    <button ejs-button
            cssClass="e-round float"
            iconCss="e-btn-sb-icons e-add-icon"></button>
</div>
<div class="container">
    <div class="e-btn-group">
        <input type="radio"
               id="left"
               name="align"
               value="left" />
        <label class="e-btn grouped"
               for="left">Left</label>
        <input type="radio"
               id="center"
               name="align"
               value="center" />
        <label class="e-btn grouped"
               for="center">Center</label>
        <input type="radio"
               id="right"
               name="align"
               value="right" />
        <label class="e-btn grouped"
               for="right">Right</label>
    </div>
</div>